language: cpp

branches:
    only:
        - master

install:    
  - DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
  - mkdir ${DEPS_DIR} && cd ${DEPS_DIR}
  - travis_retry wget --no-check-certificate https://cmake.org/files/v3.13/cmake-3.13.0-Linux-x86_64.tar.gz
  - tar -xvf cmake-3.13.0-Linux-x86_64.tar.gz > /dev/null
  - mv cmake-3.13.0-Linux-x86_64 cmake-install
  - PATH=${DEPS_DIR}/cmake-install:${DEPS_DIR}/cmake-install/bin:$PATH
  - cd ${TRAVIS_BUILD_DIR}

matrix:
  include:
    - os: linux
      env: 
        - OS=linux_x64
      dist: trusty
      sudo: required
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      before_install:
        - export CXX=g++-7 CC=gcc-7
        - git submodule update --init --recursive
      script:
        - ./build-linux.sh

    - os: osx
      env:
        - OS=macos_x64
      osx_image: xcode9.3
      before_install:
        - git submodule update --init --recursive
      script:
        - ./build-macos.sh
